.carousel-wrapper {
  width: 500px;
  height: 325px;
  overflow: hidden;
  margin: 20px auto 10px;
  border: 2px solid var(--color0);
  border-radius: 5px;
  border-collapse: collapse;
  box-shadow: 0 0 0 10px var(--color3);
  text-align: center;
  line-height: 38px;
  overflow: hidden;
  margin: 20px 0;
  background-color: var(--color1);
}
.carousel {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}
.carousel > .image {
  width: 500px;
  height: 325px;
}
.carousel > .image > .number {
  margin: 5px 30px;
  padding: 0;
  font-size: 15px;
}
.carousel > .image > .number.active {
  margin: 5px 30px;
  padding: 0;
  font-size: 15px;
  color: white;
}
.carousel > .image > img {
  width: 500px;
  height: 325px;
  object-fit: cover;
}
.buttons {
  margin: auto;
}
.buttons > button {
  background-color: var(--colorP);
  color: var(--color6);
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 0 3px var(--color3);
  padding: 7px 10px;
  margin-bottom: 10px;
}
